.version.index /* version checker */
{
	color: #00001C;
	background-color: #07B935;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 748px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 62px;
	padding-bottom: 241px;
	margin-left: auto;
	margin-right: auto;
}

#u94-4
{
	z-index: 3;
	width: 453px;
	min-height: 55px;
	background-color: transparent;
	color: #F15A24;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
	font-weight: bold;
	margin-left: 407px;
	position: relative;
}

#u107-4
{
	z-index: 9;
	width: 176px;
	min-height: 19px;
	background-color: transparent;
	text-align: center;
	color: #F7931E;
	font-style: italic;
	margin-left: 545px;
	margin-top: 57px;
	position: relative;
}

#u97
{
	z-index: 7;
	width: 225px;
	background-color: transparent;
	margin-left: 521px;
	margin-top: 10px;
	position: relative;
}

#u204
{
	z-index: 2;
	width: 1170px;
	background-color: #D3D2D2;
	padding-bottom: 41px;
	margin-top: 70px;
	position: relative;
}

#u199
{
	z-index: 13;
	width: 1170px;
	height: 243px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 2000px;
	min-width: 300px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

